.reservation {
    margin: 40px 0;
    background-image: url(../../img/background-reservation-section.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(28, 28, 28, .5);
    background-blend-mode: overlay;
    padding: 80px 0px;
    color: white;
}
.reservation .reservation-content{
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 0 30px;
}

.reservation .reservation-content .reservation-heading h5{
    font-family: "Fredericka the Great", sans-serif;
    font-weight: 100;
    font-size: 50px;
    line-height: 20px;
}

.reservation .reservation-content .reservation-heading h3{
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    margin-top: 5px;
}
