header{
    padding: 40px 50px;
    position: absolute;
    width: calc(100% - 100px);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.header-logo img{
    width: 180px;
}

.header-logo img:nth-child(2){
    display: none;
}



@media screen and (max-width: 1200px){
    header{
        position: relative;
        background-color: #fff;
        padding: 20px 60px;
        width: calc(100% - 120px);
    }

    .header-logo img{
        width: 120px;
        display: none;
    }
    
    .header-logo img:nth-child(2){
        display: block;
    }
}

