.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(101, 100, 96, .9);
    width:calc(100% - 16px);
    height: calc(100% - 80px);
    justify-content: center;
    align-items: center;
    z-index: 102;
    padding: 40px 8px;
    display: flex;
    transition: all.3s;
    opacity: 0;
    visibility: hidden;
}

.modal-show{
    opacity: 1;
    visibility: visible;

}

.modal .modal-content{
    background-color: black;
    max-width: 900px;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal .modal-close{
    position: absolute;
    top: 10px;
    right: 1%;
    background: none;
    border: none;
    color: white;
    opacity: .65;
    cursor: pointer;
    font-size: 28px;
}

.modal .modal-close:hover{
    opacity: 1;
}